@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}
a {
	color: inherit;
}

img {
	vertical-align: top;
	/* max-width: 100%;  все картинки будут автоматически уменьшаться с изменеием ширины экрана*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
$colhover: #d99860;
$bg: #2c2c2c;
body {
	font-family: "Montserrat-Regular";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	height: 100%;
	color: #fff;
	background-color: #000;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

//===HEADER=====

.header {
	background: #181818;
	position: fixed;
	z-index: 100;
	width: 100%;
	&__inner {
		height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		span {
			font-weight: 900;
			font-size: 16px;
			line-height: 19px;
			padding-left: 15px;
		}
	}
	&__items {
		display: flex;
		margin-left: auto;
		@media (max-width: 992px) {
			display: block;
		}
	}
	
	&__item {
		font-size: 11px;
		font-weight: 700;
		padding: 0 20px;
		width: 200px;
		position: relative;
		@media (max-width: 992px) {
			padding: 15px 20px 15px 50px;
		}
		&:before {
			content: " ";
			width: 20px;
			height: 20px;
			background-image: url("../img/phone.svg");
			background-size: cover;
			position: absolute;
			top: 2px;
			left: -10px;
			@media (max-width: 992px) {
				top: 18px;
				left: 20px;
			}
		}
	}
	&__phone {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-weight: 700;
		padding: 0 20px;
		@media (max-width: 992px) {
			text-align: center;
			padding: 15px 20px;
		}
		span {
			font-size: 10px;
			color: $colhover;
			@media (max-width: 992px) {
				text-align: center;
			}
		}
	}

	&__burger {
		cursor: pointer;
		display: none;
		@media (max-width: 992px) {
			display: block;
		}
	}

	&__burger-items {
		width: 30px;
		height: 30px;
		background: $bg;
		border-radius: 50%;
		position: relative;
	}
	&__burger-item {
		width: 20px;
		height: 2px;
		display: block;
		background-color: $colhover;
		position: absolute;
		top: 50%;
		left: 5px;
		&:before {
			content: "";
			width: 20px;
			height: 2px;
			background-color: $colhover;
			position: absolute;
			top: 6px;
			left: 0px;
			transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
		}
		&:after {
			content: "";
			width: 20px;
			height: 2px;
			background-color: $colhover;
			position: absolute;
			top: -6px;
			left: 0px;
			transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
		}
	}

	&__burger-text {
		display: none;
		@media (max-width: 992px) {
			font-size: 10px;
			padding-top: 4px;
			display: block;
		}
	}
}
.header__burger-active {
	background-color: transparent;
	&::before {
		transform: rotate(45deg);
		top: 0;
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}
	&::after {
		transform: rotate(-45deg);
		top: 0;
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}
}
.menu-content {
	background: $bg;
	position: absolute;
	width: 100%;
	top: 70px;

	@media (max-width: 992px) {
		position: fixed;
		z-index: 10;
		width: 250px;
		right: 0;
		box-shadow: -1px 6px 38px 10px rgba(0, 0, 0, 0.72);
		transform: translateX(150%);
		bottom: 0;
		overflow-y: scroll;
		&_active {
			transition: transform 0.5s ease-in;
			transform: translateX(-0%);
			.menu-content__list {
				flex-direction: column;
			}
		}
	}

	&__list {
		display: flex;
		width: 100%;
		height: 70px;
		justify-content: space-between;
	}

	&__list-item {
		font-size: 11px;
		padding: 8px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media (max-width: 992px) {
			padding-top: 15px;
		}
		&:hover {
			color: #d99860;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 4px;
			width: 100%;
			background-color: #d99860;
			transform: scaleX(0);
			transform-origin: center;
			transition: transform 0.2s ease;
			@media (max-width: 992px) {
				height: 1px;
			}
		}

		&.is-active {
			cursor: default;
			color: #d99860;
			&:after {
				transform: scaleX(1);
			}
		}
	}
}
// =====HEADER=========
//=====SECTION-ASK====
.ask {
	padding-top: 140px;
	background-image: url("../img/white-bg-1.jpg");
	background-position: center top;
	background-size: cover;
	@media (max-width: 992px) {
		padding-top: 70px;
	}
	&__inner {
		display: flex;
		padding-top: 25px;
		padding-bottom: 45px;
		@media (max-width: 767px) {
			flex-direction: column;
			justify-content: center;
			padding-top: 0;
		}
	}
}

//повторяющиеся блоки
.content-menu {
	display: none;
	flex: 1 1 60%;
	padding: 27px 15px 15px;
	&.is-active {
		display: block;
	}

	@media (max-width: 480px) {
		padding: 20px 0;
	}
	&__title {
		font-size: 28px;
		font-weight: 700;
		line-height: 35px;
		margin-bottom: 20px;
		@media (max-width: 480px) {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
		span {
			color: $colhover;
		}
	}
	&__list {
		font-size: 14px;
		line-height: 19px;
	}
	&__list-item {
		margin-top: 20px;
		position: relative;
		padding-left: 45px;
		@media (max-width: 480px) {
			margin-top: 10px;
		}
		&:before {
			content: " ";
			width: 30px;
			height: 30px;
			background-image: url("../img/icon-check.svg");
			background-repeat: no-repeat;
			position: absolute;
			top: 0px;
			left: 0;
		}
	}
}

.ask-form {
	flex: 1 1 40%;
	&__inner {
		background: rgba(24, 24, 24, 0.6);
		border-radius: 8px;
		padding: 30px 25px 33px 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 767px) {
			margin: 0 auto;
			max-width: 500px;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 26px;
		margin-bottom: 14px;
	}
	&__text {
		color: $colhover;
		margin-bottom: 26px;
		padding-left: 40px;
		position: relative;
		&:before {
			content: " ";
			width: 30px;
			height: 32px;
			background-image: url("../img/timer.png");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
	&__textarea {
		height: 180px;
		width: 100%;
		overflow: auto;
		border-radius: 8px;
		padding: 15px;
		resize: none;
		margin-bottom: 10px;
		@media (max-width: 767px) {
			height: 100px;
		}
	}
	&__example {
		font-size: 11px;
		line-height: 14px;
		padding: 10px 15px 15px;
		background-color: $bg;
		border-radius: 8px;
		margin: 10px 0;
		span {
			color: $colhover;
			display: block;
			font-weight: 700;
			margin-bottom: 5px;
		}
	}

	&__name,
	&__phone,
	&__location {
		width: 100%;
		overflow: auto;
		border-radius: 8px;
		padding: 15px;
		margin-bottom: 15px;
		@media (max-width: 767px) {
			padding: 10px;
		}
	}

	&__btn {
		width: 100%;
		padding: 17px 40px 16px;
		border-radius: 8px;
		background-color: $colhover;
		font-size: 18px;
		font-weight: 700;
		color: #fff;
		&:hover {
			background-color: #a3642e;
		}
	}

	&__hidden {
		display: none;
	}
}

//=====SECTION-OFFER====
.offer {
	background-color: #000;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 35px;
		padding-bottom: 45px;
	}
	&__card {
		max-width: 350px;
		text-align: center;
		background-color: $bg;
		border-radius: 8px;
		padding: 35px 30px 30px;
		margin: 0 10px 10px;
		min-height: 387px;
	}
	&__img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		overflow: hidden;
	}
	&__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		padding: 20px 0;
	}
	&__text {
		color: #bababa;
		font-size: 14px;
		line-height: 19px;
	}
}

//=====SECTION-EXAMPLE===
.example {
	background-color: $bg;
	&__inner {
		padding-top: 45px;
		padding-bottom: 51px;
	}
	&__title {
		text-align: center;
		font-size: 28px;
		line-height: 34px;
		font-weight: 700;
		max-width: 800px;
		margin: 0 auto 25px;
		padding: 0 10px;
	}
	&__text {
		text-align: center;
		font-size: 16px;
		margin: 0 auto 50px auto;
		line-height: 19px;
		padding: 0 10px;
	}
}
.swiper-container {
	padding-bottom: 60px;
	@media (max-width: 1200px) {
		margin-left: 40px;
		margin-right: 40px;
	}
	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 0;
	}
	@media (max-width: 580px) {
		margin-left: 10px;
		margin-right: 10px;
	}
}
.swiper-wrapper {
}
.swiper-slide {
	&__item-ask {
		font-size: 16px;
		font-weight: 700;
		background-color: $colhover;
		border-radius: 8px;
		padding: 25px;
		margin-bottom: 25px;
	}
	&__item-answer {
		padding: 25px;
		margin-left: 25px;
		background-color: #575757;
		border-radius: 8px;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 25px;
			border: 20px solid transparent;
			border-bottom: 20px solid #575757;
			position: absolute;
			top: -36px;
			left: 30px;
		}
	}
}
.swiper-arrow {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.swiper-button-prev,
.swiper-button-next {
	color: #fff;
	position: absolute;
	top: 230px;
	@media (max-width: 580px) {
		display: none;
	}
}
.swiper-button-prev {
	left: 12px;
}
.swiper-button-next {
	right: 12px;
}
.swiper-pagination {
	bottom: 0;
	@media (max-width: 767px) {
		top: 0;
	}
	&-bullet {
		width: 20px;
		height: 20px;
		background-color: #fff;
		&-active {
			background-color: $colhover;
		}
	}
}

//=====SECTION-ready-problem====
.ready-problem {
	background-image: url("../img/white-bg-2.jpg");
	background-position: center top;
	background-size: cover;
	padding: 50px 15px 60px;
	@media (max-width: 767px) {
		padding: 30px 15px 40px;
	}
	&__inner {
		max-width: 680px;
		margin: 0 auto;
		background-color: $bg;
		border-radius: 8px;
		text-align: center;
		padding: 35px 40px 43px;
		@media (max-width: 767px) {
			max-width: 500px;
		}
	}
	&__title {
		font-size: 28px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 12px;
	}
	&__text {
		font-size: 16px;
		line-height: 19px;
		span {
			font-weight: 700;
			color: $colhover;
			position: relative;
			display: block;
			margin: 60px 0 35px;
			&:before {
				content: " ";
				width: 30px;
				height: 30px;
				background-image: url("../img/icon-check.svg");
				background-repeat: no-repeat;
				position: absolute;
				top: -30px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&__btn {
		padding: 17px 40px 16px;
		background-color: $colhover;
		border-radius: 8px;
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		width: 90%;
		display: block;
		margin: 0 auto;
		&:hover {
			background-color: #a3642e;
		}
		@media (max-width: 480px) {
			padding-left: 7px;
			padding-right: 7px;
			width: 100%;
		}
	}
}

//====SECTION-expert============
.expert {
	background-color: $bg;
	padding: 52px 0 92px;
	@media (max-width: 500px) {
		padding: 38px 0 40px;
	}
	&__title {
		padding: 13px 0 13px 61px;
		border-left: solid 6px #d99860;
		color: #fff;
		line-height: 35px;
		font-weight: 700;
		font-size: 28px;
		margin: 0 0 40px 0;
		max-width: 550px;
		@media (max-width: 500px) {
			font-size: 24px;
			padding-left: 20px;
		}
	}
	&__inner {
		padding-left: 67px;
		@media (max-width: 400px) {
			padding-left: 0;
		}
	}
	&__text {
		font-size: 24px;
		line-height: 29px;
		font-weight: 700;
		margin: 40px 0;
		text-align: center;
		@media (max-width: 500px) {
			margin: 20px 0;
		}
	}
	&__btn {
		background: $colhover;
		border-radius: 8px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		padding: 16px 40px;
		color: #fff;
		display: block;
		margin: 0 auto;
		@media (max-width: 500px) {
			padding: 16px 20px;
		}
		&:hover {
			background-color: #a3642e;
		}
	}
}

.expert-card {
	display: flex;
	margin-bottom: 20px;
	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		background-color: #575757;
		padding: 10px 0;
	}
	&:not(:nth-child(odd)) {
		justify-content: flex-end;
		@media (max-width: 800px) {
			justify-content: center;
		}
	}
	&__img {
		overflow: hidden;
		object-fit: cover;
		height: 100%;
		img {
			max-width: 100%;
		}
	}
	&__body {
		padding: 20px 55px;
		max-width: 550px;
		background-color: #575757;
		@media (max-width: 767px) {
			padding: 20px 30px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		margin: 0 0 10px 0;
	}
	&__text {
		margin-bottom: 15px;
		color: $colhover;
		font-weight: 700;
		span {
			display: block;
			color: #fff;
			line-height: 18px;
			margin: 0 0 15px 0;
		}
	}
	&__content {
		font-size: 12px;
		color: $colhover;
		line-height: 15px;
	}
}
//====SECTION-how========
.how {
	text-align: center;
	padding: 40px 0 100px;
	@media (max-width: 767px) {
		padding-bottom: 50px;
	}
	&__title {
		font-size: 28px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 94px;
		@media (max-width: 767px) {
			margin-bottom: 55px;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		max-height: 230px;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: calc(100% / 3 - 10px);
		max-width: 350px;
		@media (max-width: 767px) {
			height: 200px;
			margin: 30px 0;
			width: 300px;
		}
	}
	&__item:not(:last-child)::after {
		content: " ";
		width: 20px;
		height: 25px;
		background-image: url("../img/arrow.svg");
		background-repeat: no-repeat;
		position: absolute;
		top: 40px;
		right: -22px;
		@media (max-width: 767px) {
			top: 200px;
			right: 46%;
			transform: rotate(90deg);
		}
	}
	&__img {
		padding-bottom: 50px;
		@media (max-width: 767px) {
			padding-top: 0px;
			padding-bottom: 30px;
		}
	}
	&__text {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		max-width: 300px;
	}
}
//===SECTION-REVIEWS===
.reviews {
	padding: 47px 0 76px;
	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 28px;
		margin: 0 0 51px 0;
		line-height: 32px;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__card {
		max-width: 540px;
		width: calc(100% / 2 - 10px);
		display: flex;
		background-color: #575757;
		margin: 0 0 30px 0;
		padding: 20px 25px;
		@media (max-width: 767px) {
			width: 100%;
		}
		@media (max-width: 480px) {
			display: block;
		}
	}
	&__img {
	}
	&__text {
		font-size: 12px;
		line-height: 15px;
		padding-left: 15px;
		@media (max-width: 480px) {
			padding-left: 0;
			padding-top: 15px;
		}
		span {
			display: block;
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;
			color: $colhover;
			margin-bottom: 15px;
		}
	}
	&__btn {
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		padding: 16px 40px;
		background-color: $colhover;
		border-radius: 8px;
		display: block;
		color: #fff;
		max-width: 320px;
		margin: 10px auto 0;
		text-align: center;
		&:hover {
			background-color: #a3642e;
		}
	}
}
//===SECTION==HELP-FORM=====
.help-form {
	background-image: url(../img/white-bg-3.jpg);
	background-position: center top;
	background-size: cover;
	padding: 56px 0 64px 0;
	@media (max-width: 767px) {
		padding: 36px 0;
	}
	&__inner {
		background: rgba(24, 24, 24, 0.6);
		padding: 30px 72px 63px 72px;
		max-width: 620px;
		margin: 0 auto;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		@media (max-width: 480px) {
			padding: 30px 36px 40px 36px;
		}
		@media (max-width: 320px) {
			padding: 30px 20px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		line-height: 29px;
		margin: 0 0 15px 0;
	}
	&__text {
		font-size: 16px;
		color: #fff;
		text-align: center;
		line-height: 20px;
		margin: 0 0 25px 0;
	}
	&__input-name,
	&__input-tel,
	&__input-region {
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 8px;
		margin-bottom: 15px;
	}

	&__input-textarea {
		border-radius: 8px;
		margin-bottom: 15px;
		resize: none;
		overflow: auto;
		padding: 15px;
		height: 120px;
	}
	&__input-btn {
		border-radius: 8px;
		padding: 16px 40px;
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		background-color: $colhover;
		display: block;
		color: #fff;
		text-align: center;
		&:hover {
			background-color: #a3642e;
		}
		@media (max-width: 480px) {
			padding: 16px 10px;
		}
	}
}
//===FOOTER=========
.footer {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0;
		border-bottom: 1px solid #424242;
	}
	&__logo {
		text-align: center;
		margin-bottom: 20px;
		span {
			font-weight: 900;
			font-size: 16px;
			line-height: 19px;
			display: block;
			color: #424242;
		}
	}
	&__contact {
	}
	&__menu {
	}
	&__menu-list {
		display: flex;
		justify-content: center;
		padding: 20px;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__menu-link {
		padding: 0 20px;
		color: #777;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 767px) {
			padding-bottom: 10px;
		}
	}
}
//=== модальное окно для reviews-btn "задать свой вопрос"
.modal-ask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(24, 24, 24, 0.6);
	&__form {
		min-width: 300px;
		position: absolute;
		bottom: 150px;
		left: 50%;
		transform: translateX(-50%);
	}
	&__inner {
		background-color: #000;
		span {
			background-image: url("../img/Close.svg");
			background-repeat: no-repeat;
			background-size: cover;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 6px;
			right: 6px;
		}
	}
}
.modal-hidden {
	display: none;
}
